<div class="row">
  <div class="col-md-12">
    <!-- BEGIN Portlet PORTLET1-->
    <div class="portlet box">
      <div
        crm-portlet-header=""
        options="portletHeaderOptions1"
        >
      </div>
      <div class="portlet-body no-padding-bottom" style="display: block;">
        <form ng-model="importLeadsForm" name="importLeadsForm" novalidate>
        <div class="well well-sm TitleBars">
          <span class="block">{{ "crm.lead.importleads.choose-clients-and-sites-to-import-to" | translate }}:</span>
        </div>
        <div class="row" >
          <div class="col-md-6">
            <div
              ng-dropdown-multiselect=""
              options="clientsData"
              selected-model="clientsModel"
              extra-settings="clientsSettings"
              >
            </div>
          </div>
          <div class="col-md-6">
            <div
              ng-dropdown-multiselect=""
              options="sitesData"
              selected-model="sitesModel"
              extra-settings="sitesSettings">
            </div>
          </div>
        </div>
        <div class="well well-sm TitleBars">
          <span class="block">{{ "crm.lead.importleads.file-name" | translate }}</span>
        </div>
        <div class="row" >
          <div class="col-md-offset-4 col-md-4">
            <crm-csv-import content="csv.content" header="true" separator="','" result="csv.result"></crm-csv-import>
          </div>
          <section ng-show="dataForImport.length>0">
            <div class="col-md-12">
                <table st-table="fileTableData" class="table table-striped">
                  <thead>
                  <tr class="TitleBars top-radius white">
                    <th st-ratio="30">{{ "crm.lead.importleads.name" | translate }}</th>
                    <th st-ratio="30">{{ "crm.lead.importleads.number-of-records" | translate }}</th>
                    <th st-ratio="30">{{ "crm.lead.importleads.records-imported" | translate }}</th>
                    <th st-ratio="10"></th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="row in dataForImport">
                    <td st-ratio="30">{{row.name}}</td>
                    <td st-ratio="30">{{row.data.length}}</td>
                    <td st-ratio="30">
                      {{row.succeededLength || 0}}
                    </td>
                    <td st-ratio="10" class="center-text">
                      <a ng-csv="row.data" csv-header="getHeader(row)" filename="{{row.name}}"><i class="fa fa-file-excel-o"></i></a>
                    </td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <td colspan="5" class="text-center">
                      <div  st-items-by-page="20" st-pagination=""></div>
                    </td>
                  </tr>
                  </tfoot>
                </table>
            </div>

            <div style="margin-top: 1%" class="col-md-4">
              <a href="javascript:;" class="btn btn-lg CancelColor full-width margin-bottom-20" ng-click="exit()">
                <i class="fa fa-times"></i>
                {{ "crm.lead.importleads.exit" | translate }}
              </a>
            </div>
            <div class="col-md-4" style="margin-top: 1%">
              <a href="javascript:;" class="btn btn-lg ApplyColor full-width margin-bottom-20" ng-click="importSubmitted=true;importData()">
                <i class="fa fa-upload"></i>
                {{ "crm.lead.importleads.import" | translate }}
              </a>
            </div>
          </section>
          <section ng-show="filedDataForImport.length>0">
            <div class="col-md-12 text-center margin-bottom-20 text-warning font-sans-serif size-20 weight-bold">
              {{ "crm.lead.importleads.records-not-imported" | translate }}
            </div>

            <div class="col-md-12">
              <div class="smTable margin-bottom-20">
                <table st-table="notImportedTableData" class="table crmTable table-striped">
                  <thead>
                  <tr class="TitleBars top-radius white">
                    <th st-ratio="10">{{ "crm.lead.importleads.first-name" | translate }}</th>
                    <th st-ratio="10">{{ "crm.lead.importleads.last-name" | translate }}</th>
                    <th st-ratio="10">{{ "crm.lead.importleads.address-1" | translate }}</th>
                    <th st-ratio="10">{{ "crm.lead.importleads.address-2" | translate }}</th>
                    <th st-ratio="10">{{ "crm.lead.importleads.city" | translate }}</th>
                    <th st-ratio="10">{{ "crm.lead.importleads.state" | translate }}</th>
                    <th st-ratio="10">{{ "crm.lead.importleads.zip" | translate }}</th>
                    <th st-ratio="10">{{ "crm.lead.importleads.country" | translate }}</th>
                    <th st-ratio="10">{{ "crm.lead.importleads.phone" | translate }}</th>
                    <th st-ratio="10">{{ "crm.lead.importleads.email" | translate }}</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr ng-repeat="row in filedDataForImport">
                    <td st-ratio="10">{{row.FirstName}}</td>
                    <td st-ratio="10">{{row.LastName}}</td>
                    <td st-ratio="10">{{row.Address1}}</td>
                    <td st-ratio="10">{{row.Address2}}</td>
                    <td st-ratio="10">{{row.City}}</td>
                    <td st-ratio="10">{{row.State}}</td>
                    <td st-ratio="10">{{row.ZipCode}}</td>
                    <td st-ratio="10">{{row.CountryISO}}</td>
                    <td st-ratio="10">{{row.Phone}}</td>
                    <td st-ratio="10">{{row.Email}}</td>
                  </tr>
                  </tbody>
                  <tfoot>
                  <tr>
                    <td colspan="5" class="text-center">
                      <div  st-items-by-page="20" st-pagination=""></div>
                    </td>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </section>
        </div>
        </form>
      </div>
    </div>
    <!-- END Portlet PORTLET1-->
  </div>
</div>
