<div class="row">
  <div class="col-md-12">
        <!-- BEGIN Portlet PORTLET-->
        <div class="portlet box">
          <div
            crm-portlet-header=""
            options="mdfHeaderOptions"
            >
          </div>
          <div class="portlet-body" style="display: block;">
            <div st-table="mdfs" st-safe-src="mdfsSafe">
              <div class="tableSearchInput top-minus-35">
                <input st-search class="form-control st-search-input" placeholder="Search Campaigns"  type="search"/>
                <i class="fa fa-search"></i>
              </div>

              <div class="row">
                <div class="col-md-2" style="text-align: center">
                  <a href="javascript:;" class="btn btn-lg ApplyColor margin-bottom-20 full-width" ng-click="addNewCampaign()">
                    <i class="fa fa-plus"></i>
                    {{ "campaigns.campaigns.mycampaigns.add-new" | translate }}
                  </a>
                </div>
              </div>

              <div class="table-scrollable">
                <table class="table table-striped table-auto-layout">
                  <thead>
                    <tr class="TitleBars top-radius white">
                      <th st-ratio="20" class="cursor-pointer" st-sort="Name">{{ "campaigns.campaigns.mycampaigns.name" | translate }}</th>
                      <th st-ratio="10" class="cursor-pointer" st-sort="SiteID">{{ "campaigns.campaigns.mycampaigns.site-id" | translate }}</th>
                      <th st-ratio="10" class="cursor-pointer" st-sort="Url">{{ "campaigns.campaigns.mycampaigns.url" | translate }}</th>
                      <th st-ratio="30">{{ "campaigns.campaigns.mycampaigns.campaign-guid" | translate }}</th>
                      <th st-ratio="10">{{ "campaigns.campaigns.mycampaigns.actions" | translate }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="row1 in mdfs">
                      <td st-ratio="20">{{row1.Name}}</td>
                      <td st-ratio="10">{{row1.SiteID}}</td>
                      <td st-ratio="10">{{row1.Url}}</td>
                      <td st-ratio="30">{{row1.CampaignGuid}}</td>
                      <td st-ratio="10" class="center-text">
                        <a ng-click="downloadKit(row1.CampaignGuid)"><i class="fa fa-download"></i></a>
                        <a ng-click="goToEdit(row1.CampaignGuid);"><i class="fa fa-pencil"></i></a>
                        <a ng-click="delete(row1)"><i class="fa fa-times"></i></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="center-text">
                <div  st-items-by-page="10" st-pagination=""></div>
              </div>
              <div class="row" ng-hide="mdfs.length">
                <div class="col-md-12">
                  <div class="alert alert-warning" role="alert">
                    <h4 class="center-text">{{ "campaigns.campaigns.mycampaigns.no-data" | translate }}</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END Portlet PORTLET-->
  </div>
</div>

