<div class="row">
  <div class="col-md-12">
    <div class="row ">
      <!-- BEGIN Portlet PORTLET-->
      <form ng-model="siteDuplicateForm" name="siteDuplicateForm">
        <div class="portlet box">
            <div
              crm-portlet-header=""
              options="portletHeaderOptions"
              >
            </div>
            <div class="portlet-body" style="display: block;">
              <div class="row" >
                <div class="col-md-offset-2 col-md-4">
                  <div
                    ng-dropdown-multiselect=""
                    options="clientsData"
                    idprop="ClientID"
                    selected-model="clientsModel"
                    extra-settings="clientsSettings"
                    >
                  </div>
                </div>
                <div class="col-md-4">
                  <div
                    ng-dropdown-multiselect=""
                    options="sitesData"
                    idprop="SiteID"
                    selected-model="sitesModel"
                    extra-settings="sitesSettings">
                  </div>
                </div>
              </div>
              <div class="row" >
                <div class="col-md-2 col-md-push-5">
                  <a href="javascript:;" class="btn btn-success btn-lg ApplyColor" ng-disabled="processing" ng-click="duplicate()">
                    <i class="fa fa-copy"></i>
                    {{ "administration.siteduplicator.siteduplicator.duplicate-site" | translate }}
                  </a>
                </div>
              </div>
            </div>
        </div>
      </form>
      <!-- END Portlet PORTLET-->
    </div>
  </div>
</div>
